<a href='mailto:{{row.email}}'>{{row.first_name}} {{row.last_name}}</a><br>
<small>
    <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>:
    <a href="mailto:{{row.email}}">{{row.email}}</a>
    <br>User Name {{row.username}}, created at : {{ row.created_at }}
</small>